.bv-transaction-item {
  padding: 20px;
  background: #eee;
  position: relative;
}

.bv-transaction-item--amount {
  font-size: 20px;
}

.bv-transaction-item--status {
  position: absolute;
  font-size: 50px;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}